<!DOCTYPE html>
<html lang="en" style="height:100%">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Booking.com verification -->
    <meta name='B-verify' content='51a89a90f2cd7ef83e2a8c56c4761eaf9a006980' />

    <title>wildflower</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <style>
    .bodyContainer {
      margin:0px;
      background-image:url("<%= static_path(@conn, "/images/electrobeach.jpg") %>");
      height:100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .textContainer {
      color:white;
      margin: auto;
      padding: 5%;
      align-items:center;
      text-shadow: 1px 1px;
      background-color:black;
      opacity: 0.8;
      border-radius: 25px;
    }
    </style>
  </head>

  <body class="bodyContainer">
    <div class="textContainer">
      <h1 style="text-align:center">wildflower</h1>
      <h3 style="text-align:center">the search engine for experiences</h2>
      <h4 style="text-align:center; color:lightgreen">coming soon</h3>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
